* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../IMG/bgbody.jpg);
	font: 14px Arial;
	line-height: 10px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 3px 9px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px 4px rgba(0,0,0,0.75);
}

.container {

}

header {
	height: 213px;
	position: relative;
	background-color: #fff;
	color: #128aa7;
	line-height: 20px;
}

.logo {
	position: relative;
}

.logo_text {
	position: absolute;
	top: 150px;
	left: 80px;
	z-index: 100;
}

header a {
	text-decoration: none;
	color: #128aa7;
}

.contacts {
	position: absolute;
	top: 15px;
	right: 30px;
}

.countries {
	position: absolute;
	bottom: 5px;
	right: 30px;
}

.countries ul li {
	float: left;
	width: 60px;
	padding-right: 15px;
	font-size: 10px;
	text-align: center;
}

.countries ul li a:hover,
.logo_text a:hover {
	color: red;
	text-decoration: underline;
}

/*Выпадающее меню*/
.container ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.container ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
	line-height: 10px;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
	width: 122.85px;
    color: white;
    background-color: #333333;
    text-decoration: none;
	text-align: center;
}
ul.menu > li > a:hover, 
ul.submenu > li > a:hover{
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
	box-shadow: 2px 5px 5px;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
	width: 122.7px;
    color: white;
    background-color: #333333;
    text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

/*Три колонки*/
.fon {
	width: 1000px;
	min-height: 450px;
	background: url(../IMG/bgfon.png) repeat-y;
	float: left;
	line-height: normal;
}

.leftColumn ,
.rightColumn {
	width: 180px;
	float: left;
	padding: 15px;
}

.centerColumn {
	width: 580px;
	float: left;
}

.heading {
	text-align: center;
	padding-bottom: 5px;
	font: 20px Arial;
}

footer {
	text-align: center;
	color: white;
	padding: 10px;
	font: 12px Arial;
}

.main-block:after {
	content: " ";
	clear:both;
	display: block;
}