* {
	margin: 0;
	padding: 0;
}

body {
	background: #c0c0c0;
}

.wrapper {
	width: 1215px;
	height: 1064px;
	margin: 0 auto;
	background-image: url(../img/background.png);
}

ul {
	list-style-type: none;
}

a { 
    text-decoration: none;
    color: #60b5ed;
   } 

.flex-cont {
	display: flex;
	justify-content: flex-end;
}

.menu div {
	padding: 0 15px;
	line-height: 36px;
}

.menu {
	background: url(../img/fon_menu.png) repeat-x;
	font-size: 12pt;
}

#flag {
	padding: 0;
}

.container {
	width: 560px;
	/*position: relative;
	top: 250px;
	left: 350px;*/
	color: #fff;
}

.hat, .main {
	width: 390px;
	margin: 1px auto;
	padding: 15px 0;
	text-align: center;
	border: 1px solid;
	background-color: rgba(0,0,0,0.6);
}

form>div {
	margin: 20px 0;
}

#policy {

	font-size: 11px;
}

#last {
	margin-bottom: 10px;
}

.log_in {
	margin: 20px 0;
}

.log_in>div {
	display: inline;
	width: 190px;
}

#login {
	color: #ffffff;
}

.parent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}