*{
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #F9F9F9;
	height: 100%;
}

.content {
	width:1060px;
	height: 100%;
	padding-bottom: 50px;
	position: relative;
	background-color: #FFFFFF;
	margin: 0px auto;
	padding-bottom: 60px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

a { 
	display: block;
    text-decoration: none;
 }

 li {
 	list-style: none;
 }

.logo {
	padding: 46px;
}

.main-menu {
	margin: 0px 46px 46px;
	height: 40px;
	background-color: #515151;
	font: 16px Arial;
	line-height: 40px;
	color: white;

}

.main-menu ul li {
	float: left;
}

.main-menu ul li a {
	padding: 0 45px;
	color: #fff;
	border-right: 1px solid #515151;
	border-left: 1px solid #515151;
}

.side-bar{
	margin: 0px 46px;
	font: 14px Arial;
	width: 240px;
	border: 1px solid #c8c8c8;
	border-bottom: 0px solid;
}

.side-bar ul li a {
	padding: 10px 15px;
	color: #656565;
}

.side-bar ul li {
	border-bottom: 1px solid #c8c8c8;
}

.image{
	float: right;
	width: 680px;
	margin-right: 46px;
	padding: 40px 0px;
	text-align: center;
	border: 1px solid #c8c8c8;
}

.article{
	width: 680px;
	clear: both;
	float: right;
	padding: 20px;
	font: 14px Arial;
	color: #656565;
	
}

footer{
	clear: both;
	width: 1000px;
	margin: 0 auto;
	padding-right: 15px;
	position: absolute;
	left: 30px;
	bottom: 5px;
	height: 40px;
	text-align: right;
	background-color: #E1E1E1;
	font: 14px Arial;
	line-height: 40px;
    color: #000;	
}

footer ul li {
	float: left;
}

footer ul li a {
	padding: 0 45px;
	color: #000;
}

.copyright {
	text-align: right;
    display: block;
    float: right;
    width: 170px;
}

/*Затемнение элементов главного меню при наведении курсора*/
.main-menu a:hover {
	background-color: #333333;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999;
}

/*Затемнение элементов бокового меню при наведении курсора*/
.side-bar a:hover {
	padding: 10px 25px;
	background-color: #f9f9f9;
}

/*Ховер для футера*/
footer a:hover {
	text-decoration: underline;
}

