@font-face {
    font-family: 'Helvetica Neue';
    src: url(../FONT/HelveticaNeue.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;
    background-color: #666;
}

body {
	height: 100%;
	width: 1215px;
	font-family: 'Helvetica Neue', Arial;
	background: url(../IMG/background.png) no-repeat;
	background-size: cover;
	overflow: hidden;	
}

ul {
	list-style-type: none;
}

a { 
	display: block;
    text-decoration: none;
    color: #60b5ed;
   }

#menu6 a, #menu7 a {
	color: #fff;
}


.flex-cont {
	display: flex;
	justify-content: flex-end;
}

.flex-cont>div {
	height: 36px;
	width: 97px;
}

#menu6 {
	width: 115px;
}

#menu7 {
	width: 205px;
	margin-right: 15px; 
}

#flag {
	width: 40px;
}

.menu div {
	text-align: center;
	line-height: 36px;
}

.menu {
	background: url(../IMG/fon_menu.png) repeat-x;
	font-size: 12pt;
}

#v-line {
	height: 32px;
	width: 1px;
	margin: 2px 0;
	/*padding: 0px 0.5px;*/
	background-color: #4eabda;
}

.parent {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}

.container {
	width: 560px;
	color: #fff;
	font-size: 14px;
}

.hat, .main {
	margin: 2px auto;
	padding: 15px 0;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
}

.hat {
	font-size: 24px;
	color: #fff;
}

#fbook {
	height: 40px;
	line-height: 40px;
	border-left: 0px;
	font-size: 24px;
	font-weight: bold;
	padding: 0 15px;
	border-radius: 6px 0 0 6px;
}

#log_in_with {
	height: 40px;
	width: 260px;
	line-height: 40px;
}

.log_in {
	margin: 20px 0;
	color: #fff;
	font: bold 16px sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.log_in>div>a>span {
	font-weight: normal;
}

.log_in>div {
	margin:0 0.5px;
	background-color: #336699;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-radius: 0 6px 6px 0;
}

#login {
	color: #ffffff;
}

.h-line {
	width: 120px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #000;
	margin: 0 10px;
}

.ou {
	color: #666;
}

form>div {
	margin: 20px 0;
}

input {
	height: 35px;
	background-color: #000;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #666;
	padding: 0 15px;
}

input:focus {
	background-color: #336699;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(102,204,255,1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(102,204,255,1);
	box-shadow: 0px 0px 6px 1px rgba(102,204,255,1);
}

.flex-check {
	display: flex;
	justify-content: center;
	align-items: center;
}

[type="Checkbox"] {
	padding: 0;
}

[type="Submit"] {
background-image: url(../IMG/bgbutton.png);
border-radius: 4px;
}

#policy {
	font-size: 11px;
}

.menu a:hover {
	color: #fff;
	background-color: #4eabda;
}

#menu6 a:hover, #menu7 a:hover {
	color: #fff;
}

.gradient {
    background: #2e7ac4 url("gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#50afdc),
        to(#2e7ac4)
    );
    background: -webkit-linear-gradient(
        top,
        #50afdc,
        #2e7ac4
    );
    background: -moz-linear-gradient(
        top,
        #50afdc,
        #2e7ac4
    );
    background: -o-linear-gradient(
        top,
        #50afdc,
        #2e7ac4
    );
    background: linear-gradient(
        top,
        #50afdc,
        #2e7ac4
    );
}
